<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<title>Previsualizar</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
<style>
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
</style>
<!-- Subite main js -->
<script src="{{STATIC_URL}}js/subite.js"></script>
</head>
<body>

<div id='map'></div>

<script>
// loads data input from Django
var center_coo = {{center_coordinates}}
var routes_coo = {{route_coordinates}}
var icons_coo = {{icons_coordinates}}
draw_route_map(center_coo, routes_coo, icons_coo)
</script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</body>
</html>